#homepage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin: 20px;
}

.cell {
  box-shadow: 1px 1px 10px rgb(150, 179, 215);
  padding: 20px;
  display: flex;
}

.subtitlu {
  font-size: x-large;
  text-align: center;
  margin-bottom: 20px;
}

.my-card {
  background-color: rgb(220, 190, 244);
  border: 9px outset rgb(135, 146, 8);
  border-radius: 13px;
  box-shadow: 11px 11px 7px rgb(112, 184, 87);
  padding: 10px;
  color: rgb(99, 139, 248);
}

.grid-element {
  border: 3px solid #ddd;
  text-align: center;
  font-size: 4em;
  transition: 0.5s;
}

#users {
  animation: pulse 1.5s infinite;
  width:30px;
}

@keyframes pulse {
  0% {
    font-size: 20px;
  }

  50% {
    font-size: 30px;
  }

  100% {
    font-size: 20px;
  }
}

#video1 {
  display: block;
}

#video2 {
  display: none;
}

.video-tab {
  font-size: 25px;
  background-color: plum;
  color: rgb(52, 17, 85);
  border: 4px solid rgb(52, 17, 85);
  padding: 20px;
  margin-bottom: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

@media screen and (width<1000px) {
  .grid-element {
    font-size: 1em;
  }
}

#main-image {
  width: 40%;
}
