<div id="watermark">Ariela</div>

<div id="to-top-button-container" title="Inapoi sus!">
  <a href="#top-header" style="text-decoration: none"
    ><div id="to-top-button">
      <div id="to-top-arrow">&#129081;</div>
    </div></a
  >
</div>

<div id="first-print-page">
  <h1 id="first-print-page-title">Petshop.ro</h1>
</div>
<!--Banner for Print-->
<div style="display: flex; width: 100%; justify-content: center">
  <div id="print-banner">Proiect scolar</div>
</div>
