<footer id="footer">
  <div style="display: flex">
    <ul>
      <li>
        Contactati-ne pe
        <a href="https://www.whatsapp.com/" target="_blank">WHATSAPP</a>
      </li>
      <li>Email:<a href="mailto:e-shop@gmail.com">e-shop@gmail.com</a></li>
      <li>Telefon: <a href="tel:123-456-7890">123-456-7890</a></li>
      <li>
        Addresa:
        <a
          href="https://www.google.com/maps/place/University+of+Bucharest/@44.4327299,26.0618942,14z/data=!4m10!1m2!2m1!1sunibuc+!3m6!1s0x40b1ff473869f53f:0xee62eda4d786c152!8m2!3d44.4355117!4d26.1017417!15sCgZ1bmlidWOSAQp1bml2ZXJzaXR54AEA!16zL20vMDJwYnp2?entry=ttu"
          target="_blank"
          >Bulevardul Regina Elisabeta Nr. 4-12, București 030018</a
        >
      </li>
    </ul>
  </div>
  <div
    id="div1"
    style="
      display: flex;
      align-items: center;
      margin-top: 10px;
      flex-direction: column;
    "
  >
    <small style="font-size: 12px"
      >&copy; 2024 E-shop Corporation. All rights reserved.</small
    >
    <small style="font-size: 12px">
      Pagina a fost creată la
      <time datetime="2024-03-29">29 martie 2024</time>.
    </small>
  </div>
</footer>
