<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <title>Hrana de Calitate pentru Blănosul Tău</title>
  <meta charset="UTF-8" />
  <!--codificarea in memorie a caracterelor-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="keywords"
    content="hrana uscata, hrana umeda, conserve, granule, recompense, accesorii, suplimente, vitamine, sampoane, lese, botnite, litiere, nisip, produse de îngrijire, jucarii,paturi, saltele, custi,recompense"
  />
  <meta
    name="description"
    content="Petshop.ro este mai mult decât un petshop online, este ghidul tău virtual în alegerea hranei potrivite pentru animăluțul tău și îți oferă o gama variată de multe alte produse precum recompense, suplimente sau produse de igienă."
  />
  <meta name="author" content="Ariela Cordunianu" />
  <!--autoarea paginii-->
  <meta name="theme-color" content="#ffffff" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link
    rel="icon"
    type="image/svg"
    sizes="32x32"
    href="resurse/favico/favico.svg"
  />
  <link rel="stylesheet" href="css/homepage.css" />
  <link rel="stylesheet" href="homepage/style.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="reset.css" />
  <!--bootstrap-->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <!--bootstrap functionality (js)-->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</head>
